src/main/resources/schema-template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="template" type="templateType"/>

    <xs:complexType name="nodeType" mixed="true">
        <xs:sequence>
            <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="_id" use="optional"/>
        <xs:attribute type="xs:string" name="labels" use="required"/>
        <xs:anyAttribute/>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="value" use="required"/>
                <xs:attribute type="xs:string" name="type" use="optional" default="STRING"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="relationshipType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type" use="required"/>
                <xs:attribute type="xs:string" name="from" use="required"/>
                <xs:attribute type="xs:string" name="to" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="templateType">
        <xs:sequence>
            <xs:element type="nodeType" name="templateNode" minOccurs="1" maxOccurs="1"/>
            <xs:element type="sectionType" name="section" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="version" use="required"/>
    </xs:complexType>

    <xs:complexType name="sectionType">
        <xs:sequence>
            <xs:element type="nodeType" name="node" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="relationshipType" name="relationship" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

</xs:schema>